body{
    display: flex;
    margin:0;
}
@font-face {
    font-family: 'Norse-Bold';
    src: url('fonts/Norse-Bold.woff') format('woff');
    src: url('fonts/Norse-Bold.woff2') format('woff2');
  }
.l-section{
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 33vw;
}

.logo{
    background-color: rgb(0,0,0,.6);
    padding: 20px 0;
    margin-top: 25vh;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.pic{
    height: 5em;
    width: auto;
}

.logo-text{
    font-family: "Norse-Bold", Helvetica;
    font-size: 4rem;
    align-self: center;
    padding-top: 12px;
}

.row{
    display: flex;
    gap: 60px;
    margin-bottom: 14px;;
}

.field{
    display: flex;
    flex-direction: column;
}

.form-header{
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;

}

label{
    color: grey;
    font-size: 12px;
}